<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Joueur</th>
    <th scope="col" class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let game of games">
    <tr *ngIf="!game.opponent">
      <th scope="row">{{ game.id }}</th>
      <td>{{ game.owner }}</td>
      <td class="actions">
        <button
          (click)="gameSelected = game"
          type="button"
          class="btn btn-sm btn-outline-primary"
          data-toggle="modal"
          data-target="#joinGameModal"
        >
          <i class="fa fa-gamepad"></i>
        </button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

<app-game-join-modal
  modalName="joinGameModal"
  [decks]="decks"
  [game]="gameSelected"
  (join)="onJoin($event)"
>
</app-game-join-modal>
