<ng-container *ngIf="!game?.player_turn">
  <div class="row" style="height: 100%;">
    <div class="col">
      En attente d'un adversaire ...
    </div>
  </div>
</ng-container>

<ng-container *ngIf="game?.player_turn">
  <div class="row" style="height: 10%;">
    <div class="col">
      <ng-container *ngIf="user.id === game.owner.id">
        {{ game.opponent.username }}
      </ng-container>
      <ng-container *ngIf="user.id !== game.owner.id">
        {{ game.owner.username }}
      </ng-container>
    </div>
  </div>

  <div class="row" style="height: 20%;">
    <ng-container *ngIf="user.id === game.owner.id">
      <div *ngFor="let card of game.opponent_hand_cards" class="col">
        <div class="card">
          Dos retourné
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="user.id !== game.owner.id">
      <div *ngFor="let card of game.owner_hand_cards" class="col">
        <div class="card">
          Dos retourné
        </div>
      </div>
    </ng-container>
  </div>

  <div class="row" style="height: 20%;">
    <ng-container *ngIf="user.id === game.owner.id">
      <div
        *ngFor="let cardValue of game.opponent_board_card_values"
        pDroppable="attack"
        (onDrop)="dropAttacker(cardValue)"
        class="col"
      >
        <div class="card">
          {{ cardValue.card?.name }}<br>
          {{ cardValue.card?.cost }} Mana<br>
          {{ cardValue.strength }} Atk<br>
          {{ cardValue.health }} Vie
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="user.id !== game.owner.id">
      <div
        *ngFor="let cardValue of game.owner_board_card_values"
        pDroppable="attack"
        (onDrop)="dropAttacker(cardValue)"
        class="col"
      >
        <div class="card">
          {{ cardValue.card?.name }}<br>
          {{ cardValue.card?.cost }} Mana<br>
          {{ cardValue.strength }} Atk<br>
          {{ cardValue.health }} Vie
        </div>
      </div>
    </ng-container>
  </div>

  <div
    class="row"
    pDroppable="play_card"
    (onDrop)="dropCardToPlay()"
    style="height: 20%;"
  >
    <ng-container *ngIf="user.id === game.owner.id">
      <div
        *ngFor="let cardValue of game.owner_board_card_values"
        class="col"
      >
        <div
          pDraggable="attack"
          (onDragStart)="dragAttacker(cardValue)"
          class="card"
        >
          {{ cardValue.card?.name }}<br>
          {{ cardValue.card?.cost }} Mana<br>
          {{ cardValue.strength }} Atk<br>
          {{ cardValue.health }} Vie
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="user.id !== game.owner.id">
      <div
        *ngFor="let cardValue of game.opponent_board_card_values"
        class="col"
      >
        <div
          pDraggable="attack"
          (onDragStart)="dragAttacker(cardValue)"
          class="card"
        >
          {{ cardValue.card?.name }}<br>
          {{ cardValue.card?.cost }} Mana<br>
          {{ cardValue.strength }} Atk<br>
          {{ cardValue.health }} Vie
        </div>
      </div>
    </ng-container>
  </div>

  <div class="row" style="height: 20%;">
    <ng-container *ngIf="user.id === game.owner.id">
      <div *ngFor="let card of game.owner_hand_cards"
           class="col">
        <div pDraggable="play_card"
             (onDragStart)="dragCardToPlay(card)"
             class="card">
          {{ card.name }}<br>
          {{ card.cost }} Mana<br>
          {{ card.strength }} Atk<br>
          {{ card.health }} Vie
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="user.id !== game.owner.id">
      <div *ngFor="let card of game.opponent_hand_cards"
           class="col">
        <div pDraggable="play_card"
             (onDragStart)="dragCardToPlay(card)"
             class="card">
          {{ card.name }}<br>
          {{ card.cost }} Mana<br>
          {{ card.strength }} Atk<br>
          {{ card.health }} Vie
        </div>
      </div>
    </ng-container>
  </div>

  <div class="row" style="height: 10%;">
    <div class="col">
      <ng-container *ngIf="user.id === game.owner.id">
        {{ game.owner.username }}
      </ng-container>
      <ng-container *ngIf="user.id !== game.owner.id">
        {{ game.opponent.username }}
      </ng-container>
    </div>
  </div>
</ng-container>
